@import 'base';

body {
    background-image: url('../img/SaintPatricksCenterBG.png');
}

#apply {
    .input-field input, .input-field label {
        left: 0;
    }

    .input-field {
        margin-bottom: 30px;
    }

    select {
        margin-bottom: 30px;
    }

    .collection-item {
        cursor: pointer;
        color: @green;
    }

    .submit-container {
        padding: 16px 30px 30px 30px;
        background-color: #fff;
    }
}
