@import 'base';

body {
    background-color: @green;
}

#hello {
    .container {
        .wrapper {
            div {
                margin-bottom: 20px;

                button {
                    background-color: @white !important;
                    color: @green !important;

                    &:focus {
                        background-color: #fff !important;
                    }
                }
            }

            .application-link {
                margin-top: 40vh;
            }

            img {
                margin-top: 10vh;
            }

            .front-page-button {
                min-width: 200px;
            }

            .beds-link {
                display: none;
            }
        }
    }

    .login-modal {
        .input-field input, .input-field label {
            left: 0;
        }
    }
}

@media (max-width: 600px) {
    #map {
        display: none;
    }

    .admin-login {
        display: none;
    }

    .beds-link {
        display: inline-block !important;
    }
}
