{% verbatim %}
<div class="modal login-modal">
    <div class="modal-content">
        <div class="title">
            <h5>St. Patrick Admin Login</h5>
        </div>
        <div class="username-div">
            <div class="input-field">
                <input id="username" type="text">
                <label for="username">Username</label>
            </div>
        </div>
        <div class="password-div">
            <div class="input-field">
                <input id="password" type="text">
                <label for="password">Password</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="login-click waves-effect btn" style="margin-left:6px;">Login</a>
        <button class="cancel-login waves-effect btn">Cancel</a>
    </div>
</div>
{% endverbatim %}
