<!doctype html>

<head>
    {% load staticfiles %}
    {% include "base/links.html" %}
    {% include "base/less_headers/home_less.html" %}
</head>

<script id="home-template" type="text/template">
    {% include "partials/home/home_base.html" %}
</script>

<script id="search-template" type="text/template">
    {% include "partials/home/search_clients.html" %}
</script>

<script id="profile-template" type="text/template">
    {% include "partials/home/profile_modal.html" %}
</script>

<script id="user-collection-template" type="text/template">
    {% include "partials/home/user_collection.html" %}
</script>

<script id="application-collection-template" type="text/template">
    {% include "partials/home/applications.html" %}
</script>

<script id="shelters-template" type="text/template">
    {% include "partials/home/shelters.html" %}
</script>

<body>
    <div id="home">

    </div>
</body>

<script type="text/javascript" src="{% static "js/home.js" %}"></script>
<script type="text/javascript">
    var homeView = new hk.HomeView();
</script>

</html>
