{% verbatim %}
<ul class="collapsible" data-collapsible="accordion">
    {{# _.each(_.sortBy(applicants, 'urgency').reverse(), function (a) { }}
        <li>
            <div class="collapsible-header">
                <i class="material-icons">person</i><span>{{a.first_name}} {{a.last_name}}</span>
                <span class="title right">Applied: {{new Date(a.created).toDateString()}}</span>
            </div>
            <div class="collapsible-body">
                <div class="collapse-container">
                    <div class="row">
                        <div class="col s9">
                            <div class="why">
                                <div class="title">
                                    Reason for application:
                                </div>
                                <div class="left-box">
                                    {{a.why}}
                                </div>
                            </div>
                            <div class="contact left-box">
                                <span class="title">Phone:</span> {{a.phone}} &nbsp; <span class="title">Email:</span> {{a.email}}
                            </div>
                            <div class="review-marking">
                                <button class="waves-effect waves-light btn mark-reviewed" type="button" data-id="{{a.id}}">Mark Reviewed</button>
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="dob right-box">
                                <div class="title">
                                    Date of birth:
                                </div>
                                {{a.date_of_birth}}
                            </div>
                            <div class="gender right-box">
                                <div class="title">
                                    Gender:
                                </div>
                                {{a.gender}}
                            </div>
                            <div class="veteran right-box">
                                <div class="title">
                                    Veteran:
                                </div>
                                {{a.veteran}}
                            </div>
                            <div class="veteran right-box">
                                <div class="title">
                                    Individual/Family:
                                </div>
                                {{a.family}}
                            </div>
                            <div class="urgency right-box">
                                <div class="title">
                                    Urgency:
                                </div>
                                {{a.urgency / 40 * 100}}%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    {{# }); }}
</ul>
{% endverbatim %}
