{% verbatim %}
<ul class="collapsible" data-collapsible="accordion">
    {{# _.each(_.sortBy(applicants, 'urgency').reverse(), function (a) { }}
        <li>
            <div class="collapsible-header">
                <i class="material-icons">person</i><span>{{a.first_name}} {{a.last_name}}</span>
                <span class="right">Urgency: <span style="font-weight:bold;">{{a.urgency / 40 * 100}}%</stspanrong></span>
            </div>
            <div class="collapsible-body">
                <div class="collapse-container">
                    <div class="row">
                        <div class="col s9">
                            <div class="why">
                                <div class="title">
                                    Reason for application:
                                </div>
                                <div class="left-box">
                                    {{a.why}}
                                </div>
                            </div>
                            <div class="contact left-box">
                                <span class="title">Phone:</span> {{a.phone}} &nbsp; <span class="title">Email:</span> {{a.email}}
                            </div>
                            <div class="review-marking">
                                <button class="waves-effect waves-light btn mark-reviewed" type="button" data-id="{{a.id}}">Mark Reviewed</button>
                            </div>
                            <div class="recommendations" style="margin-top:10px;">
                                <div class="title">
                                    Recommended Resources:
                                </div>
                                <div class="resources">
                                    {{# _.each(a.recommendations, function (r) { }}
                                        <div class="">
                                            <a href="{{r.website}}">{{r.name}}</a>
                                        </div>
                                    {{# }); }}
                                </div>
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="dob right-box">
                                <div class="title">
                                    Date of birth:
                                </div>
                                {{a.birthday}}
                            </div>
                            <div class="gender right-box">
                                <div class="title">
                                    Gender:
                                </div>
                                {{a.gender}}
                            </div>
                            <div class="veteran right-box">
                                <div class="title">
                                    Veteran:
                                </div>
                                {{a.veteran}}
                            </div>
                            <div class="veteran right-box">
                                <div class="title">
                                    Individual/Family:
                                </div>
                                {{a.family}}
                            </div>
                            <div class="urgency right-box">
                                <div class="title">
                                    Applied:
                                </div>
                                {{new Date(a.created).toDateString()}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    {{# }); }}
</ul>
{% endverbatim %}
