{% verbatim %}
<div class="home-page">
    <div class="row" style="margin-bottom: 0;">
        <div class="top-banner">
            <div class="container">
                <div class="row" style="margin-bottom: 0; padding-top: 10px; padding-bottom: 20px;">
                    <div class="col s9">
                        <div class="user-search">
                            <div class="title white-text">
                                Client Search (Last name or ID)
                            </div>
                            <div class="input-field" style="margin-top:0;">
                                <input id="client-search" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col s3">
                        <button class="btn bar-button logout" type="button">Logout</button>
                        <button class="btn bar-button new-user" type="button">New User</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="tabs">
            <li class="tab col s6"><a class="active" href="#new-apps">New Applications</a></li>
            <li class="tab col s6"><a href="#available">Available Beds</a></li>
        </ul>
        <div id="new-apps" class="col s12">
            <div class="new-applications container">
                {{= hk.underscorePartial('application-collection-template', {applicants: applicants})}}
            </div>
        </div>
        <div id="available" class="col s12">
            <div class="available-space container">
                {{= hk.underscorePartial('shelters-template', {shelters: shelters})}}
            </div>
        </div>
    </div>
</div>
<div class="search-modal-holder">

</div>
<div class="profile-modal-holder">

</div>
{% endverbatim %}
