{% verbatim %}
<div class="modal profile-modal">
    <div class="modal-content">
        <div class="title">
            <h5>Profile Modal</h5>
        </div>
        <!-- <div class="username-div">
            <div class="input-field">
                <input id="username" type="text" length="120">
                <label for="username">Username</label>
            </div>
        </div>
        <div class="password-div">
            <div class="input-field">
                <input id="password" type="text" length="120">
                <label for="password">Password</label>
            </div>
        </div> -->
    </div>
    <div class="modal-footer">
        <button class="close-profile waves-effect btn">Close</a>
    </div>
</div>
{% endverbatim %}
