{% verbatim %}
<div class="modal profile-modal modal-fixed-footer">
    <div class="modal-content" style="padding: 0;">
        <ul class="tabs">
            <li class="tab col s6"><a href="#recommendations">Resources</a></li>
            <li class="tab col s6"><a class="active" href="#basic">Client Info</a></li>
            <li class="tab col s6"><a href="#eande">Employment & Education</a></li>
            <li class="tab col s6"><a href="#health">Health</a></li>
        </ul>
        <div id="recommendations" class="col s12" style="padding: 20px;">
            {{= hk.underscorePartial('recommendations-template', {recommendations: recommendations})}}
        </div>
        <div id="basic" class="col s12" style="padding: 20px;">
            {{= hk.underscorePartial('profile-inner-template', {data: client_info, id: id, associate_id: associate_id, urgency: urgency})}}
        </div>
        <div id="eande" class="col s12" style="padding: 20px;">

        </div>
        <div id="health" class="col s12" style="padding: 20px;">

        </div>
    </div>
    <div class="modal-footer">
        <button class="close-profile waves-effect btn">Close</a>
    </div>
</div>
{% endverbatim %}
