{% verbatim %}
<div class="modal search-modal modal-fixed-footer">
    <div class="modal-content">
        <div class="title">
            <h5>Client Search</h5>
        </div>
        <div class="user-list nice-scroll nice-scroll-no-x">
            {{= hk.underscorePartial('user-collection-template', {users: users}, {opensProfile: true})}}
        </div>
    </div>
    <div class="modal-footer">
        <button class="close-search waves-effect btn">Close</a>
    </div>
</div>
{% endverbatim %}
