{% verbatim %}
<ul class="collapsible" data-collapsible="accordion">
    {{# _.each(_.sortBy(shelters, 'name'), function (s) { }}
        <li>
            <div class="collapsible-header">
                <i class="material-icons">person</i><span>{{s.name}}</span>
                <span class="title right">{{s.occupancy}}/{{s.max_occupancy}} available</span>
            </div>
            <div class="collapsible-body">
                <div class="collapse-container">
                    <div class="row">
                        <div class="col s3">
                            <div class="address">
                                <div class="title">
                                    Address:
                                </div>
                                {{s.address}}
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="available-beds">
                                <div class="title">
                                    Available Beds:
                                </div>
                                <div class="input-field" style="margin-top: 0;">
                                    <input id="available" data-id="{{s.id}}" type="text" value="{{s.occupancy}}">
                                </div>
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="total-beds">
                                <div class="title">
                                    Total Beds:
                                </div>
                                {{s.max_occupancy}}
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="last_updated">
                                <div class="title">
                                    Last Update:
                                </div>
                                {{new Date(s.last_updated).toDateString()}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    {{# }); }}
</ul>
{% endverbatim %}
