{% verbatim %}
<div class="application">
    <div class="container">
        <button class="waves-effect waves-light btn home-link" type="button" style="margin-top:10px;">Back to Home</button>
        <div class="title">
            <h5>Please fill out the application and a St. Patrick's Center representative will contact you soon.</h5>
        </div>
        <div class="application-form">
            <div class="row">
                <div class="first-name-wrapper col s12 m6">
                    <div class="input-field">
                        <input id="first-name" type="text">
                        <label for="first-name">First Name</label>
                    </div>
                </div>
                <div class="last-name-wrapper col s12 m6">
                    <div class="input-field">
                        <input id="last-name" type="text">
                        <label for="last-name">Last Name</label>
                    </div>
                </div>
                <div class="why-wrapper col s12">
                    <div class="input-field">
                        <textarea id="why" type="text" class="materialize-textarea" length="1000"></textarea>
                        <label for="why">Why are you seeking assistance?</label>
                    </div>
                </div>
                <div class="phone-number-wrapper col s12 m6">
                    <div class="input-field">
                        <input id="phone-number" type="text">
                        <label for="phone-number">Phone Number</label>
                    </div>
                </div>
                <div class="last-name-wrapper col s12 m6">
                    <div class="input-field">
                        <input id="last-name" type="text">
                        <label for="last-name">Last Name</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
